<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue App-List</title>
  
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
  <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
  <!--
  <div id="app">
    {{ message }}
  </div>
-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Vue3 LocalStorage</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <div id="app" class="container py-4">
        <div class="row">
            <div class="col-md-3">
                <h2>User</h2>
                <div class="card card-body">
                    <form ref="userForm" v-on:submit="processUser">
                        <div class="form-group">
                            <input type="text" ref="name" v-model="user.name" class="form-control" placeholder="Name"
                                minlength="10" maxlength="50" required />
                        </div>
                        <div class="form-group">
                            <input type="text" v-model="user.username" class="form-control" placeholder="Username"
                                minlength="6" maxlength="20" required />
                        </div>
                        <div class="form-group">
                            <input type="email" v-model="user.email" class="form-control" placeholder="Email"
                                minlength="10" maxlength="50" required />
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-success btn-block text-dark" v-bind:value="operation">
                        </div>
                        <div class="form-group">
                            <input type="reset" class="btn btn-primary btn-block" value="Clear">
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-9">
                <h1>User's List</h1>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>User</th>
                                <th>Email</th>
                                <th colspan="2">Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(user, index) in users">
                                <td>{{ user.id }}</td>
                                <td>{{ user.name }}</td>
                                <td>{{ user.username }}</td>
                                <td>{{ user.email }}</td>
                                <td><button @click="editUser(user.id)" class="btn btn-info btn-block">Update</button>
                                </td>
                                <td><button @click="deleteUser(user.id, $event)"
                                        class="btn btn-danger btn-block">Delete</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
  integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
  integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
  crossorigin="anonymous"></script>
<script src="js/users.js"></script>
</body>

</html>